<section class="galeria">
  <swiper-container
    slides-per-view="1"
    space-between="30"
    loop="true"
    pagination="true"
    navigation="true"
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    breakpoints='{"640": {"slidesPerView": 2}, "1024": {"slidesPerView": 3}}'>

    <swiper-slide>
      <img src="assets/images/1.jpg" alt="DOOM Imagen 1">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/images/2.jpg" alt="DOOM Imagen 2">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/images/3.jpg" alt="DOOM Imagen 3">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/images/4.jpg" alt="DOOM Imagen 4">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/images/5.jpg" alt="DOOM Imagen 5">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/images/6.jpg" alt="DOOM Imagen 6">
    </swiper-slide>

     <swiper-slide>
      <img src="assets/images/7.jpg" alt="DOOM Imagen 7">
    </swiper-slide>

     <swiper-slide>
      <img src="assets/images/8.jpg" alt="DOOM Imagen 8">
    </swiper-slide>

  </swiper-container>
</section>
