<app-preloader></app-preloader>

<!-- Fondo con logo palpitante -->
<div class="background-logo"></div>

<div data-scroll-container>
  <app-encabezado data-scroll-section></app-encabezado>

  <app-hero data-scroll-section></app-hero>

  <app-galeria data-scroll-section></app-galeria>

  <app-contenido-principal data-scroll-section></app-contenido-principal>

  <app-caracteristicas data-scroll-section></app-caracteristicas>

  <app-contenido-secundario data-scroll-section></app-contenido-secundario>

  <app-pie-pagina data-scroll-section></app-pie-pagina>

  <router-outlet />
</div>
